.specialFeatures {
    h3 {
      margin: 0 0 1em 0;
    }
    &__checkboxes {
      padding-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 0.5em;
      input {
        height: 20px;
        width: 20px;
      }
      span {
        margin-left: 0.5em;
      }
    }
  }