.cosmetics {
  &__columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
  &__category {
    margin-top: 3em;
  }
}
